btn.hover
{
    background-color:blue; 
}
bgg.hover
{
    background-color: blue;
}


.save-block
{

    width:100%;
    height:20%;
    padding:15px 20px;
    display: table;
    margin-top:4px;
    margin-left:0px;
}
.save-block .image
{
    display:inline-block;
    width:30%;
    padding-top:20px;
}
.save-content
{
width: 65%;
float: right;
}
.save-content .h1

{
    font-size:10px;
    padding:0px 0px;
    margin-top: 0px;
}
.save-content.p

{
    padding:0px 0px;
    margin-top: 0px;
}
.content 
{
    padding-top:10px;
    margin-top:40px;
}
.content .heading
{
    padding-top:40px;
    margin-top:40px;
}
.content.cont
{
    text-align: center;
}
.para
{
    font-size: 12px;
    
    padding-left: 20px;
}
.content2
{
    background:lightgray;
}
.test
{
    font-style: inherit;
}
.final
{
    padding-top:15px;
}

.row li {
    width:15%;
    float: left;
    margin:25px 10px;
  }
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    
  }